<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = item.cover || theme.index_cover;
%>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col mb-1 d-flex justify-content-between small text-secondary text-opacity-50">
                <div>page views <span class="s3_pv">0</span></div>
                 <!-- Date and Author -->
                 <% if(item.author) { %>
                    <div>Posted by <span><%- item.author %></span></div>
                <% } %>
                
                <div>update <span><%= item.date.format(config.date_format) %></span></div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Cover Image -->
        <% if (item.cover){ %>
            <div class="row">
                <div class="col">
                    <img src="<%- item.cover %>" class="card-img-top" alt="...">
                </div>
            </div>
        <% } %>
        <div class="row">
            <!-- Gallery -->
            <% if (item.photos && item.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>

            <!-- Post Main Content 
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                -->
            <div class="mx-auto col-md-10 col-md-offset-1">
                <%- item.content %>
            </div>

            <!-- Comments -->
            <% if (item.comment != false) { %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
        <!-- Tags and categories -->
        <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
        <div class="row justify-content-between">
            <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
                <% if (item.tags && item.tags.length){ %>
                    <%- partial('article-tags', {item: item}) %>
                <% } else { %>
                    <%- partial('article-categories', {item: item}) %>
                <% } %>
            </div>
            <div class="col-lg-4 col-md-5 text-end">
                <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                    <%- partial('article-categories', {item: item}) %>
                <% } %>
            </div>
        </div>
        <% } %>

    </div>
</article>
